{% extends 'base.html.twig' %}

{% block header_title %}
	{% if type is defined and type == 'done' %}
		<h1>Liste des tâches terminées</h1>
	{% else %}
		<h1>Liste des tâches à faire</h1>
	{% endif %}
{% endblock %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">
{% endblock %}

{% block body %}
	<div class="row row-button">
		{% if type is defined and type == 'done' %}
			<a href="{{ path('task_todo_list') }}" class="btn btn-info pull-right">Consulter la liste des tâches à faire</a>
		{% else %}
			<a href="{{ path('task_done_list') }}" class="btn btn-secondary pull-right">Consulter la liste des tâches terminées</a>
		{% endif %}

		<a href="{{ path('task_create') }}" class="btn btn-info pull-right btn-create">Créer une tâche</a>
	</div>

	<div class="row">
		{% for task in tasks %}
			<div class="col-sm-4 col-lg-4 col-md-4 task-card">
				<div class="thumbnail" id="task{{ task.id }}">
					<div class="caption">
						<h4 class="pull-right">
							{% if task.isDone %}
								<span class="glyphicon glyphicon-ok"></span>
							{% else %}
								<span class="glyphicon glyphicon-remove"></span>
							{% endif %}
						</h4>
						<h4>
							<a href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a>
						</h4>
						<h6>Auteur:
							{% if task.author %}
								{{ task.author.username }}{% else %}Anonyme
							{% endif %}
						</h6>
						<p>{{ task.content }}</p>

					</div>
					<div>
						<form action="{{ path('task_toggle', {'id' : task.id }) }}">
							<button class="btn btn-success btn-sm pull-right">
								{% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée
								{% endif %}
							</button>
						</form>
						<form action="{{ path('task_delete', {'id' : task.id }) }}">
							<button class="btn btn-danger btn-sm pull-right" {% if not is_granted('TASK_DELETE', task) %} disabled {% endif %}>Supprimer</button>
						</form>
					</div>
				</div>
			</div>
		{% else %}
			<div class="alert alert-warning text-center" role="alert">
				Il n'y a pas encore de tâche enregistrée.
			</div>
		{% endfor %}
	</div>
{% endblock %}
